/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1 ICON DISCARDABLE "Clock1.ico"
/////////////////////////////////////////////////////////////////////////////
//
// PNG
//

IDB_PNG1 PNG "Clock1.png"
/////////////////////////////////////////////////////////////////////////////
